.FirstComponent p {
  font-size: 24px;
  padding: 10px 0;
  background: #d2d2d2;
}
.addBtn {
  margin-left:10px;
  padding: 10px;
}
.inputBox {
  padding: 10px;
}
.listItem, .rmvBtn {
  display: inline-block;
}
